# Entorno virtual de Python
venv/
.venv/

# Archivos python compilados
*.pyc
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno / configuraciones privadas
.env
config.py


# Archivos de datos generados automáticamente
data/general_info/
data/last5perplace/